*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato',sans-serif;
    font-size: 20px; /*Mặc định là 16px*/
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility; /*Cách hiển thị chữ: Làm sao hiển thị tốt nhất*/
}



/*-------------------------REUSAUBLE COMPONENT------------------*/
/*------------Thứ xài đi xài lại nhiều lần----------------------*/
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

.btn{
    padding: 15px 30px;
    margin: 0 5px;
    border-radius: 20px;
    background-color: #e67e22;
    display: inline-block; /*Thừa hưởng thuộc tính của cả inline và block*/
    width: 190px;
    text-align: center;

    text-decoration: none;
    color: white;
    
    transition: all 0.3s; /*Set nhiều thuộc tính nhanh chóng*/
}

.btn:hover, .btn:active{
    background-color: #d35400;
}

.row{
    max-width: 1140px; 
    /*Đặt set là 1140 mục đích là để tăng cái độ rộng của cái box. Nếu center thì nó sẽ đúng với đề bài hơn.*/
    margin: 0 auto;
}

h1,h2{
    text-transform: uppercase; /*In hoa, lowercase là in thường*/
    letter-spacing: 1px; /*Khoảng cách giữa các chữ cái*/
}

h1{
    
    font-size: 300%; /*Chỉnh reponsive dễ hơn*/
    color: white;
    margin-bottom: 50px;
    font-weight: 400;
    
    word-spacing: 10px; /*Khoảng cách giữa các từ*/
    line-height: 135%; /*Khoảng cách giữa các dòng*/
}

h2{
    text-align: center;
    margin: 20px;
    color: #e67e22;
    font-size: 180%;
    font-weight: 1000;
}

/*Tạo dòng kẻ bằng after*/
h2:after{
    content: " ";
    display: block;
    width: 150px;
    height: 2px;
    background-color: rgba(232, 127, 36, 0.5); 
    margin: 0 auto;
    margin-top: 5px;
}

.p-long{
    text-align: center;
    color: #265077;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    margin-left: 15%; /*Bắt buộc phải định nghĩa thế này vì ở trên đã có định nghĩa margin rồi*/
    /*Mà margin left = 15%, width 70%, thì margin right không cần set cũng là 15%, đúng*/
}

h3{
    background-color: #265077;
    color: #ffffff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-transform: uppercase;
    font-size: 130%;
    margin-bottom: 15px;
}

section{
    padding: 50px;
}

.small-icon{
    color: #305679;
    font-size: 130%;
    margin-right: 10px;
}


/*-----------------------HEADER-----------------------*/
.logo{
    width: 350px;    /*Đồng thời tạo ra 1 khoảng cách so với dòng h1*/
    float: left;
    margin-left: 70px;
    margin-top: -50px;
}

.linkheader{
    float: right;
    list-style: none;
}

.linkheader li{
    display: inline-block;
    margin-right: 30px;
    margin-top: 50px;
}

.linkheader li a{
    text-decoration: none;
    color: white;
    font-size: 110%; /*Chỉnh thế này để sau này dễ chỉnh reponsive*/
    font-weight: 700;
    transition: border-bottom 2s;
}

.linkheader li a:hover, .linkheader li a:active{
    border-bottom: 4px solid white;
}

header{
    background-image: linear-gradient(45deg,rgba(2,33,64, 0.8) 55%,rgba(45,95,93,0.8)), url("../img/background4.jpeg"); 
    /*Nguyên tắc: background-image: linear-gradient(<Góc độ>,<Màu 1> <Chiếm>, <Màu 2>), background; */
    background-size: cover;
    background-position: center;
    height: 100vh; /*view height*/
    background-attachment: fixed;
}

.heading-main-row{
    /*Kĩ thuật dịch khối căn giữa*/
    width: 1000px; /*Vẫn phải set*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -55%); /*Dịch chuyển khối theo chiều dọc và chiều ngang*/
}

/*---------------------------ABOUT US------------------------------*/
.about-picture img{
    width: 90%;
    border-radius: 20px;
    border: 4px solid #a0beda;
    box-shadow: 0px 5px 15px 5px #265077;
    /*Gồm 5 tham số: x, y, độ mờ, độ phóng rộng, màu*/
    /* filter: blur(2px) brightness(55%); */
}

.about-picture{
    position: relative;
    margin-top: 50px;
}

.picture-title{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #c2e1fd;
    transform: translate(-65%, 100%);
    opacity: 0;
    transition: all .7s;
}

/*Áp dụng event vào hình ảnh phần About Us*/
.about-picture:hover img, 
.about-picture:active img{
    filter: blur(2px) brightness(55%);
}

/*Áp dụng event vào hình ảnh phần Picture Title*/
.about-picture:hover .picture-title, 
.about-picture:active .picture-title{
    transform: translate(-65%, -50%);
    opacity: 1;
}

/*---------------------------PRODUCT------------------------------*/
.products-section{
    background-color: #f4f4f4;
}

.products-section h2{
    margin-bottom: 60px;
}

.product-box{
    background-color: #eeefff;
    box-shadow: 3px 5px 10px #e0e0e0;
    border-radius: 20px;
    width: 90%;
    height: 370px;

}

.product-box ul{
    list-style-type: none;
}

.product-box p{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px;
    color: #265077;
    font-size: 250%;
    font-weight: 300;
}

.product-box span{
    font-size: 80%;
}

.product-box li{
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-box .btn{
    display: inline-block;
    width: 60%;
    margin-left: 23%;
}

/*---------------------------TESTIMONIALS-----------------------------*/
.testimonials-section{
    background-image: linear-gradient(45deg,rgba(2,33,64, 0.8) 55%,rgba(45,95,93,0.8)), url("../img/background2.jpeg"); 
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.testimonials-section h2{ 
    margin-bottom: 70px;
}

blockquote{
    color:#ffffff;
    margin-bottom: 60px;
    font-style: italic;
    line-height: 140%;
}

blockquote::before{
   content: "\201C";
   /*https://css-tricks.com/snippets/html/glyphs/*/
   display: block;
   font-size: 400%;
   position: relative;
   top: 0px;
   left: -3px;
}

cite{
    position: relative;
    width: 95%;
    color: #577fa3;
    display: block;
    margin-top: 25px;
}

cite img{
    width: 100px; 
    border-radius: 50%;
    border: 2px soild #265077;
    vertical-align: middle;
}